<%- include('includes/_header') %>

<% if (info != '') { %>
    <div class="notification is-info">
        <%= info %>
    </div>
<% } %>

<div class="columns">
<% for(let planta of plantas) { %>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <a href="/plantas/<%= planta.id %>"><%= planta.nombre %></a>
                    <p><%= planta.created_at %></p>
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>

<%- include('includes/_footer') %>